.container {
    max-width: 1300px;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

app-gallery-box {
    transition: transform 0.3s ease;
}

app-gallery-box:hover {
    transform: scale(1.03);
}

@media (max-width: 1300px) {
    .container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;
    }
}