:root {
    color-scheme: light dark;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: light-dark(#f5f5f5, #0F0C1D);
    color: light-dark(#374151, #E1E8F0);
    transition: background-color 0.2s, color 0.2s;
}

/* For Light/Dark Mode Button Menu */
.mat-mdc-menu-panel.custom-theme-menu {
    border: 1px solid light-dark(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
}